.fira-sans-regular{
    font-family: "Fira Sans", serif;
    font-style: normal;
  }
  body{
    background-color: #F1F1F3;
  }
  main{
    margin: 0px 160px;
    
  }
/* Shared style */
.primary-btn{
        font-size: 18px;
        color: #FFFFFF;
        font-weight: 600;
        background-color: #006A50;
        border-radius: 8px;
        border: none;
        padding: 20px;
        cursor: pointer;
}
/* banner style */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C6E4D6;
    justify-content: space-evenly;
    gap: 65px;
    padding: 0px 60px;
    margin-bottom: 80px;
    border: none;
    border-radius: 24px;
}
.banner-content{
    max-width: 620px;
    /* padding-top: 117px;
    padding-bottom: 117px; */
}
.banner-title{
    font-size: 24px;
    color: rgba(14, 14, 14, 0.50);
}
.banner-description{
    font-weight: bold;
    font-size: 56px;
    color: #0E0E0E;
    margin-bottom: 24px;
}
.banner img{
    width: 474px;
    height: 400px;
    margin: 80px 0px 60px;
}

/* vison of future section starts */
.vision-of-future{
    margin-bottom: 32px;
}
.vision-container-title{
    font-weight: bold;
    font-size: 40px;
    color: #0E0E0E;
    margin-bottom: 24px;
}
.vison-container-description{
    font-size: 16px;
    color: #0E0E0E;
    opacity: 70%;
    margin-bottom: 32px;
    padding-right: 30px;
}
.vision-container{
    display: flex;
    align-items: center;
    gap:24px;
}
.vison-1{
    max-width: 410px;
    padding : 32px;
    background: rgba(84, 144, 245, 0.2);
    border-radius: 16px;
}
.vison-2{
    max-width: 410px;
    padding : 32px;
    background-color: #C6E4D6;
    border-radius: 16px;
}
.vison-3{
    max-width: 410px;
    padding : 32px;
    background-color: #F7EBCF;
    border-radius: 16px;
}
.vision-btn-1{
    background-color: #5490F5;
}
.vision-btn-2{
    background-color: #09A15C;
}
.vision-btn-3{
    background-color: #FFC239;
}
/* speech styles */
.speech-container{
    background-image: url("assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: left top;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 35px 20px;
    margin-bottom: 80px;
}
.speech{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 10px;
}
.avisor-name{
    font-size: 20px;
    font-weight: 600;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 5px;
}
.designation{
    font-size: 14px;
    color: rgba(14, 14, 14, 0.6);
}

/* news section styles */
.news-section{
    margin-bottom: 80px;
}
.news-section-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 24px;
}
.news-section-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.70);
    margin-bottom: 30px;
}
.news{
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 48px;
    background-color: #FFFFFF;
    border-radius: 24px;
    margin-bottom: 24px;
}
 .news-img{
    width: 405px;
    height: 305px;
    border: none;
    border-radius: 24px;
 }
 .news-title{
    font-size: 32px;
    font-weight: 600;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
 }
 .news-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.70);
    margin-bottom: 32px;
 }
 .news-date-and-time{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.70);
    display: flex;
    gap: 10px;
    margin-bottom: 12px;
 }

 /* donate section style */
.donate-section{
    text-align: center;
}
 .donate-section-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
 }
 .donate-setion-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.70);
    margin: 0px 88px;
    margin-bottom: 32px;
 }
 .donate-btn-section{
    margin-bottom: 80px;
 }
 .donate-btn{
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    border: none;
    border-radius: 16px;
    background-color: #FFFFFF;
    padding: 40px;
    margin-right: 24px;
    transition: 1s all;
 }
 .donate-btn:hover {
    background-color: #006A50;
    cursor: pointer;
    color: #F7EBCF;
  }
 .donate-section input[type="text"]{
    width: 1032px;
    height: 64px;
    text-align: center;
    font-size: 20px;
    margin-top: 32px;
    border: none;
    margin-bottom: 32px;
 }

 /* newsletter section styles */
 .newsletter-contents{
    padding-left: 24px;
    padding-right: 24px;
 }
 .newsletter-section{
    text-align: center;
    background-color: #C6E4D6;
    padding: 80px 265px;
 }
 .newsletter-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
 }
 .newsletter-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.70);
   
 }
 .newsletter-btns input[type="email"]{
    width: 600px;
    height: 55px;
    font-size: 16px;
    color: rgba(84, 144, 245, 0.3);
    border: none;
 }
 .newsletter-btn{
    border-radius: 0px;
 }
 .newsletter-btns{
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
 }